In [3]:
import numpy as np
import pandas as pd
import math
import sys
import tqdm

In [15]:
gru4rec_15 = pd.read_csv('/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/1_EASE_top15.csv')
ease_15 = pd.read_csv('/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/GRU4Rec_top15.csv')

In [16]:
file_path = ['/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/1_EASE_top15.csv',
             '/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/GRU4Rec_top15.csv']

In [63]:

def ensemble_double_ratio(args):
    
# ratio1 - Top1-k : Topk-15
    print("Write ratio for Top1-10 and Top11-15. Sum of ratios must be 1.\nex) 0.75 0.25")
    inputs = input().strip()
    top_weight_list = [float(item) for item in inputs.split() if inputs]

    # exception handling
    if len(top_weight_list) != 2:
        ValueError("Wrong ratios. Try again.\n")
    if math.fabs(sum(top_weight_list) - 1.0) > sys.float_info.epsilon:
        ValueError("Sum of ratios is not 1. Try again.\n")



    # ratio2 - 모델별 weight 
    print("\nWrite ratio for input csv files. Sum of ratios must be 1.\nex) 0.5 0.5")
    inputs = input().strip()
    model_weight_list = [float(item) for item in inputs.split() if inputs]

    # exception handling
    if len(model_weight_list) < 2:
        ValueError("Wrong ratios. Try again.\n")
    if math.fabs(sum(model_weight_list) - 1.0) > sys.float_info.epsilon:
        ValueError("Sum of ratios is not 1. Try again.\n")



    # summary inputs
    print("\n----------input information----------")
    print(f"Ratio of Top1-k & Topk-15:\n{top_weight_list[0]} : {top_weight_list[1]}")
    print("Ratio of input csv files:")
    for idx in range(len(file_path)):
        print(f"[{idx}] : {file_path[idx]} - {model_weight_list[idx]}")
    print("-------------------------------------\n")


    top1015 = pd.read_csv(file_path[0]).groupby("user").apply(lambda x: x.iloc[:10,1]).reset_index().drop('level_1', axis=1)
    top1015.head(10)

    print(top_weight_list,model_weight_list# top 1,2
        )

    file_list = []
    for path in file_path:
        csv = pd.read_csv(path)
        file_list.append(csv)

    user_list = file_list[0]["user"].unique()

    file_path



    # voting
    '''
    ex)
        model A : model B = 0.6 : 0.4
        top1-10 : top11-15 = 0.75 : 0.25

    1. model A & Top1-10 = 0.6 x 0.75 ~= 0.45
    2. model A & Top10-15 = 0.6 x 0.25 ~= 0.15
    3. model B & Top1-10 = 0.4 x 0.75 = 0.3
    4. model B & Top10-15 = 0.4 x 0.25 = 0.1
    '''
    #user_list = file_list[0]["user"].unique()
    file_list = []
    for m_id, path in enumerate(file_path):

        top0110 = pd.read_csv(path).groupby("user").apply(lambda x: x.iloc[:10,1]).reset_index().drop('level_1', axis=1)
        top1115 = pd.read_csv(path).groupby("user").apply(lambda x: x.iloc[10:15,1]).reset_index().drop('level_1', axis=1)

        top0110['weight'] = model_weight_list[m_id] * top_weight_list[0]
        top1115['weight'] = model_weight_list[m_id] * top_weight_list[1]
        file_list.append(top0110)
        file_list.append(top1115)

    #get user information


    #print(len(file_list))

    result = pd.concat(file_list).reset_index(drop=True)
    #result[result['user']==11]


    g = result.groupby(['user','item']).agg({'weight': 'sum'})
    g['weight'] = - g['weight']
    g = g.sort_values(['user','weight'])
    g['weight'] = - g['weight']
    result = g.groupby('user').head(10).reset_index()

    return result[['user','item']]

In [50]:
file_list

[          user   item  weight
 0           11   4370   0.375
 1           11   4886   0.375
 2           11  40815   0.375
 3           11     47   0.375
 4           11  32587   0.375
 ...        ...    ...     ...
 313595  138493   5349   0.375
 313596  138493   8970   0.375
 313597  138493  32587   0.375
 313598  138493   4022   0.375
 313599  138493  53125   0.375

 [313600 rows x 3 columns],
           user   item  weight
 0           11   2987   0.125
 1           11   2174   0.125
 2           11   2329   0.125
 3           11  37386   0.125
 4           11   3996   0.125
 ...        ...    ...     ...
 156795  138493   1022   0.125
 156796  138493  48394   0.125
 156797  138493   3000   0.125
 156798  138493    293   0.125
 156799  138493   2324   0.125

 [156800 rows x 3 columns],
           user   item  weight
 0           11   7438   0.375
 1           11  30707   0.375
 2           11  63082   0.375
 3           11  63876   0.375
 4           11   8961   0.375
 ...        ...    ...     ...
 313595  138493  59369   0.375
 313596  138493  41566   0.375
 313597  138493  72998   0.375
 313598  138493  45447   0.375
 313599  138493  69122   0.375

 [313600 rows x 3 columns],
           user   item  weight
 0           11  68954   0.125
 1           11  49530   0.125
 2           11  32587   0.125
 3           11   5995   0.125
 4           11  44199   0.125
 ...        ...    ...     ...
 156795  138493  58559   0.125
 156796  138493  40815   0.125
 156797  138493  60684   0.125
 156798  138493  36529   0.125
 156799  138493  47610   0.125

 [156800 rows x 3 columns]]

In [43]:
csv = file_list[0]
idx = 0 
add = 0
csv["item"][:]

0          4370
1          4886
2         40815
3            47
4         32587
          ...
470395     1022
470396    48394
470397     3000
470398      293
470399     2324
Name: item, Length: 470400, dtype: int64

In [40]:
# top_weight_list,model_weight_list
movie_list = []
idx = 0
for user in user_list:
    tmp_dict = dict()
    for i, path in enumerate(file_list):
        
        for add in range(10):
            if csv["item"][idx + add] not in tmp_dict:
                tmp_dict[csv["item"][idx + add]] = top_weight_list[0] * model_weight_list[i]
            else:
                tmp_dict[csv["item"][idx + add]] += top_weight_list[0] * model_weight_list[i]
        for add in range(10, 15):
            if csv["item"][idx + add] not in tmp_dict:
                tmp_dict[csv["item"][idx + add]] = top_weight_list[1] * model_weight_list[i]
            else:
                tmp_dict[csv["item"][idx + add]] += top_weight_list[1] * model_weight_list[i]
    sorted_dict = sorted(tmp_dict.items(), key=lambda item: item[1], reverse=True)
    for i in range(10):
        movie_list.append(sorted_dict[i][0])
    idx += 15

In [41]:
movie_list

[7438,
 30707,
 63082,
 63876,
 8961,
 6870,
 48780,
 41997,
 8873,
 56367,
 1029,
 2273,
 4014,
 3256,
 914,
 3039,
 2539,
 3082,
 1287,
 2724,
 65130,
 64622,
 60950,
 64957,
 63082,
 61323,
 63876,
 62293,
 26237,
 64575,
 3052,
 1380,
 4022,
 353,
 2617,
 4034,
 4995,
 1288,
 6874,
 1641,
 81229,
 55995,
 53993,
 56152,
 6294,
 79293,
 60126,
 71057,
 37830,
 7161,
 7293,
 4246,
 4308,
 48385,
 5218,
 45720,
 5299,
 7451,
 27706,
 8529,
 597,
 56367,
 4896,
 5989,
 46578,
 4995,
 1097,
 8360,
 4022,
 500,
 3751,
 1641,
 1732,
 1380,
 1653,
 3147,
 4027,
 2640,
 2324,
 2700,
 1694,
 1950,
 3271,
 2966,
 1132,
 4881,
 4326,
 3730,
 3260,
 3551,
 53125,
 2628,
 6539,
 480,
 1721,
 4308,
 4306,
 30793,
 8360,
 3793,
 34523,
 33880,
 36537,
 45728,
 2596,
 4873,
 30810,
 5577,
 4979,
 27904,
 3556,
 7371,
 7323,
 5791,
 56367,
 2291,
 6711,
 8784,
 44694,
 60950,
 2321,
 1035,
 3176,
 2657,
 2081,
 5060,
 3052,
 1954,
 1028,
 1148,
 4993,
 1196,
 1198,
 1210,
 33794,
 4226,
 2571,
 58559,
 32587,
 3996,
 82459,
 64839,
 77455,
 27773,
 31410,
 68157,
 1206,
 74458,
 88129,
 55247,
 84847,
 26528,
 4187,
 2067,
 7075,
 8033,
 8132,
 6777,
 1066,
 2070,
 2291,
 30793,
 2054,
 2115,
 41569,
 41566,
 2011,
 1393,
 1682,
 919,
 8981,
 5992,
 7151,
 6218,
 8376,
 27821,
 33166,
 7149,
 36517,
 39183,
 106920,
 112556,
 109487,
 112290,
 1213,
 112183,
 115569,
 106782,
 1193,
 1136,
 98809,
 41566,
 87232,
 91500,
 91542,
 77561,
 45722,
 7143,
 106489,
 102125,
 1732,
 1214,
 44195,
 32,
 7022,
 33794,
 44191,
 2997,
 541,
 6874,
 899,
 910,
 1234,
 1104,
 904,
 2186,
 2728,
 17,
 2176,
 915,
 31420,
 1615,
 8807,
 1754,
 34048,
 8937,
 33646,
 2423,
 1753,
 34162,
 63131,
 67087,
 34162,
 71535,
 2502,
 5110,
 356,
 318,
 4011,
 8528,
 8798,
 7143,
 8784,
 7090,
 30707,
 8665,
 33794,
 6942,
 5669,
 5618,
 80549,
 78039,
 77455,
 81562,
 74458,
 86833,
 78209,
 61024,
 80693,
 81932,
 8949,
 3858,
 32587,
 8376,
 8910,
 30793,
 26680,
 8981,
 8917,
 33004,
 64575,
 65130,
 49961,
 63876,
 71579,
 64034,
 72720,
 49772,
 47629,
 55052,
 6944,
 6753,
 5957,
 4954,
 5970,
 4700,
 4039,
 6593,
 6810,
 5066,
 106072,
 106489,
 79091,
 77561,
 97913,
 95510,
 91542,
 88140,
 98809,
 480,
 2746,
 2871,
 6936,
 2723,
 785,
 3174,
 8641,
 3210,
 3363,
 471,
 2502,
 1393,
 3948,
 34162,
 33166,
 3147,
 1682,
 2700,
 919,
 1213,
 46578,
 44761,
 46723,
 46976,
 48780,
 51255,
 4848,
 48082,
 4235,
 7022,
 2959,
 6874,
 7090,
 356,
 8784,
 741,
 7438,
 1704,
 6377,
 608,
 1240,
 648,
 2012,
 2916,
 2628,
 2011,
 589,
 1682,
 780,
 316,
 51662,
 54272,
 48774,
 1682,
 4878,
 8665,
 1136,
 4022,
 48394,
 7147,
 27773,
 1228,
 3949,
 56782,
 48394,
 3362,
 1245,
 922,
 5618,
 48516,
 2329,
 30749,
 1276,
 1207,
 912,
 6016,
 1203,
 1262,
 1213,
 4973,
 5418,
 8798,
 5903,
 7360,
 53519,
 42718,
 48516,
 5989,
 7254,
 48774,
 592,
 1210,
 457,
 150,
 593,
 590,
 380,
 33794,
 7153,
 1198,
 4995,
 4848,
 1732,
 7147,
 3481,
 7371,
 215,
 5225,
 2324,
 6953,
 27266,
 42632,
 27834,
 44937,
 714,
 6214,
 1232,
 4973,
 6016,
 123,
 110,
 592,
 150,
 457,
 780,
 590,
 318,
 593,
 527,
 380,
 8984,
 46723,
 1619,
 4239,
 8529,
 8981,
 3408,
 2763,
 3176,
 7149,
 420,
 1485,
 1027,
 708,
 410,
 344,
 350,
 1569,
 368,
 1101,
 106100,
 102753,
 103980,
 109374,
 106782,
 107141,
 103984,
 108932,
 105355,
 102800,
 80489,
 84392,
 80463,
 81845,
 78499,
 82459,
 79132,
 80906,
 81537,
 81562,
 316,
 165,
 5989,
 595,
 6711,
 47,
 736,
 597,
 733,
 33493,
 6942,
 8368,
 40815,
 4014,
 8665,
 73017,
 4896,
 3967,
 49530,
 47610,
 2683,
 1923,
 8641,
 231,
 102123,
 1701,
 1073,
 1078,
 2174,
 6188,
 54286,
 53972,
 4776,
 5010,
 53322,
 7254,
 47610,
 40278,
 5349,
 7143,
 48774,
 60684,
 60069,
 72998,
 44191,
 59315,
 58559,
 48780,
 68157,
 68954,
 1682,
 104,
 1573,
 353,
 1246,
 2115,
 653,
 1258,
 2012,
 2291,
 587,
 539,
 1073,
 1265,
 357,
 10,
 1214,
 1036,
 329,
 1193,
 4039,
 2059,
 616,
 837,
 4700,
 1031,
 2316,
 313,
 7247,
 2084,
 235,
 1921,
 1884,
 1729,
 551,
 4105,
 30810,
 31878,
 968,
 223,
 6870,
 3949,
 4995,
 92259,
 47,
 46723,
 48780,
 62644,
 63082,
 593,
 8228,
 1178,
 1212,
 913,
 1204,
 1267,
 912,
 2726,
 750,
 7156,
 6807,
 8950,
 8874,
 1080,
 44665,
 34405,
 3160,
 2502,
 1732,
 2594,
 61248,
 65230,
 64030,
 61465,
 67923,
 61697,
 65802,
 63436,
 62113,
 64969,
 899,
 914,
 1907,
 2140,
 2085,
 1022,
 5444,
 1271,
 4016,
 1059,
 914,
 1207,
 7669,
 40629,
 899,
 1028,
 916,
 2398,
 81845,
 17,
 106487,
 104841,
 98809,
 96610,
 102445,
 106696,
 112852,
 111362,
 108932,
 76093,
 112175,
 96821,
 96588,
 112852,
 97921,
 4246,
 116823,
 108932,
 106920,
 88810,
 4034,
 3198,
 30707,
 1227,
 55820,
 1258,
 1228,
 5995,
 6,
 74458,
 2394,
 1020,
 4367,
 4223,
 1409,
 6947,
 2096,
 2087,
 4148,
 1587,
 2420,
 3247,
 31685,
 2501,
 2826,
 2717,
 1287,
 2094,
 27706,
 5254,
 32587,
 4306,
 1089,
 91529,
 3147,
 4011,
 49530,
 36529,
 69122,
 73017,
 44665,
 5574,
 4011,
 54286,
 2542,
 49272,
 73017,
 5418,
 47200,
 32587,
 344,
 780,
 364,
 1721,
 8360,
 1580,
 1270,
 588,
 6373,
 377,
 741,
 7254,
 33004,
 1274,
 6502,
 4878,
 1748,
 2232,
 6979,
 3527,
 55765,
 54503,
 1221,
 58559,
 34162,
 3275,
 58998,
 63131,
 6016,
 4239,
 1732,
 1199,
 1527,
 1884,
 1206,
 1333,
 99114,
 1215,
 1220,
 1345,
 91542,
 68554,
 58025,
 5420,
 5900,
 53464,
 56775,
 37727,
 72378,
 60072,
 555,
 44191,
 2231,
 223,
 1060,
 54503,
 6502,
 8798,
 1682,
 4776,
 111759,
 109374,
 106920,
 104841,
 106782,
 1704,
 293,
 106100,
 1682,
 2324,
 90866,
 89904,
 88810,
 94959,
 91077,
 94070,
 89492,
 89804,
 89753,
 93721,
 27846,
 27912,
 8949,
 8784,
 6620,
 6711,
 7438,
 5902,
 9018,
 4878,
 85414,
 82459,
 81845,
 81932,
 80463,
 87232,
 81562,
 84944,
 81788,
 84152,
 733,
 364,
 47,
 165,
 5989,
 316,
 4886,
 4306,
 51662,
 1097,
 42718,
 60684,
 7827,
 27831,
 61352,
 58295,
 65216,
 49278,
 3682,
 54995,
 112552,
 109487,
 115569,
 117176,
 116797,
 112852,
 115210,
 113573,
 112290,
 115170,
 4262,
 778,
 2997,
 6807,
 1079,
 1193,
 1240,
 1136,
 32587,
 1214,
 1230,
 55269,
 922,
 2973,
 1247,
 4914,
 3152,
 101,
 2076,
 5147,
 1210,
 7361,
 2010,
 34405,
 589,
 3471,
 4226,
 1270,
 1253,
 1527,
 79132,
 74458,
 6934,
 81591,
 58559,
 5219,
 6365,
 73017,
 2571,
 6874,
 70286,
 69122,
 71535,
 68358,
 79132,
 68954,
 68791,
 67408,
 77561,
 71205,
 27660,
 48774,
 48780,
 3000,
 49272,
 48516,
 48385,
 45722,
 1221,
 51255,
 72011,
 69481,
 68237,
 71535,
 69757,
 69122,
 72998,
 67734,
 72226,
 64614,
 1032,
 2085,
 2145,
 2087,
 2581,
 2018,
 3247,
 3624,
 5481,
 3916,
 49272,
 44199,
 44665,
 4963,
 59315,
 32587,
 73017,
 47610,
 64614,
 68157,
 1956,
 307,
 1185,
 1124,
 1041,
 7151,
 535,
 5693,
 2917,
 1104,
 3039,
 2948,
 3256,
 1287,
 2944,
 2795,
 2501,
 3252,
 2273,
 4855,
 36276,
 41569,
 38038,
 34437,
 44761,
 44191,
 41566,
 33166,
 45950,
 44199,
 78209,
 2335,
 79592,
 52245,
 58156,
 1753,
 333,
 81537,
 2296,
 48322,
 60040,
 63113,
 61132,
 57640,
 59315,
 58998,
 60069,
 60074,
 60072,
 63859,
 10,
 480,
 1721,
 329,
 500,
 587,
 165,
 1370,
 1291,
 2628,
 6273,
 930,
 4426,
 2203,
 7943,
 1248,
 3801,
 7335,
 2511,
 8751,
 953,
 2395,
 2657,
 1028,
 1207,
 1035,
 1954,
 3176,
 1358,
 58,
 5574,
 3639,
 2004,
 5313,
 4558,
 6156,
 2990,
 7569,
 2989,
 2411,
 ...]

In [ ]:
gru4rec_15[gru4rec_15['user']==11]

### 기타

In [2]:
ease = pd.read_csv('/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/1_EASE_epoch10_@.csv')
sas = pd.read_csv('/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/SASRec_@.csv')

In [5]:
gru4rec = pd.read_csv('/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/GRU4Rec_$.csv')

In [7]:
gru4rec.shape

(313600, 2)

In [19]:
ngcf = pd.read_csv('/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/NGCF.csv')

In [3]:
gru4rec = pd.read_csv('/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/GRU4Rec.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/GRU4Rec.csv'

In [23]:
gru4rec.shape

(311197, 2)

In [21]:
ngcf.shape

(313600, 2)

In [28]:
sas.shape

(311471, 2)

In [4]:
gru4rec.groupby(['user']).count()

NameError: name 'gru4rec' is not defined

In [7]:
sas_user_count=sas.groupby(['user']).count().describe()
sas_user_count

               item
count  31359.000000
mean       9.932428
std        0.508484
min        1.000000
25%       10.000000
50%       10.000000
75%       10.000000
max       10.000000

In [4]:
sas[sas['user']==11]

   user   item
0    11  48780
1    11   8961
2    11  44665
3    11   7438
4    11   4886
5    11  32587
6    11   3996
7    11    293

In [14]:
ease['prior'] = [i for i in range(8)]*31360
ease.head(10)

    user   item  prior
0     11   4886      0
1     11   4370      1
2     11   8961      2
3     11  40815      3
4     11   2329      4
5     11  32587      5
6     11  37386      6
7     11     47      7
10    14   1198      0
11    14   2011      1

In [4]:
ease8 = ease.groupby('user').head(8)
ease8.head(10)

    user   item
0     11   4886
1     11   4370
2     11   8961
3     11  40815
4     11   2329
5     11  32587
6     11  37386
7     11     47
10    14   1198
11    14   2011

In [5]:
bert['prior'] = [i for i in range(8,18)]*31360

In [6]:
result = pd.concat([ease8, bert])
result

          user   item  prior
0           11   4886    NaN
1           11   4370    NaN
2           11   8961    NaN
3           11  40815    NaN
4           11   2329    NaN
...        ...    ...    ...
313595  138493    593   13.0
313596  138493   4848   14.0
313597  138493   4022   15.0
313598  138493  53125   16.0
313599  138493   5349   17.0

[564480 rows x 3 columns]

In [7]:
result = result.drop_duplicates(['user','item'],keep='first')
result

          user   item  prior
0           11   4886    NaN
1           11   4370    NaN
2           11   8961    NaN
3           11  40815    NaN
4           11   2329    NaN
...        ...    ...    ...
313589  138492   1210   17.0
313592  138493    293   10.0
313596  138493   4848   14.0
313597  138493   4022   15.0
313598  138493  53125   16.0

[362193 rows x 3 columns]

In [8]:
result = result.sort_values(['user','prior'])

In [9]:
result = result.groupby('user').head(10)
result

          user  item  prior
4           11  1704   12.0
6           11  3996   14.0
8           11  1127   16.0
0           11  4886    NaN
1           11  4370    NaN
...        ...   ...    ...
313591  138493  2628    NaN
313592  138493   593    NaN
313593  138493   110    NaN
313594  138493  1270    NaN
313595  138493  2174    NaN

[313600 rows x 3 columns]

In [ ]:
result[['user','item']].to_csv('./output/ratio_ensemble.csv',index=False)

In [3]:
import sys
import pandas as pd
from collections import defaultdict
from tqdm import tqdm
import argparse
import os
import glob
import pdb

In [31]:


file_list=['/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/1_EASE_epoch10_@.csv',
           '/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general/output/2_EASE_newversion.csv']

In [27]:
ratios = input(f"(모델 수 : {len(file_list)})띄어쓰기로 구분하여 ratio 입력하기")
ratios = ratios.split(" ")
ratios = list(map(int,ratios))

In [28]:
ratios

[3, 8]

In [30]:
pwd

'/opt/ml/git/04.for_ensemble/level2_movierecommendation-recsys-02/Recbole/general'

In [55]:
ratios = input(f"(모델 수 : {len(file_list)})띄어쓰기로 구분하여 ratio 입력하기")
ratios = ratios.split(" ")
ratios = list(map(int,ratios))
if len(ratios) != len(file_list):
    raise ValueError("모델 수와 가중치값의 수가 맞지 않음") 
df_list = [pd.read_csv(f) for f in file_list]

for df,ratio in zip(df_list,ratios):
    df["weight"] = ratio
result = pd.concat(df_list).reset_index(drop=True)
g = result.groupby(['user','item']).agg({'weight': 'sum'})
g['weight'] = - g['weight']
g = g.sort_values(['user','weight'])
g['weight'] = - g['weight']
result = g.groupby('user').head(10)
result = result.reset_index()

          user   item  weight
0           11     47      11
1           11   3996      11
2           11   4370      11
3           11   4886      11
4           11   8961      11
...        ...    ...     ...
313595  138493   5349      11
313596  138493    293       8
313597  138493   4022       8
313598  138493   4848       8
313599  138493  53125       8

[313600 rows x 3 columns]

In [58]:
result = result.reset_index()

In [59]:
result[['user','item']]

          user   item
0           11     47
1           11   3996
2           11   4370
3           11   4886
4           11   8961
...        ...    ...
313595  138493   5349
313596  138493    293
313597  138493   4022
313598  138493   4848
313599  138493  53125

[313600 rows x 2 columns]

In [15]:

ratios = input(f"(모델 수 : {len(file_list)})띄어쓰기로 구분하여 ratio 입력하기")
ratios = ratios.split(" ")
ratios = list(map(int,ratios))
if len(ratios) != len(file_list):
    raise ValueError("모델 수와 가중치값의 수가 맞지 않음") 
df_list = [pd.read_csv(f) for f in file_list]

for df,ratio in zip(df_list,ratios):
    df["weight"] = ratio
result = pd.concat(df_list).reset_index(drop=True)
g = result.groupby('user').agg({'weight': 'sum', 'item': lambda x: x[1]})

g['weight'] = - g['weight']
g = g.sort_values(['user','weight'])
g['weight'] = - g['weight']
result = g.groupby('user').head(10)
result = result.sort_values(by='user')
result

KeyError: 1